
/* Parent Page*/

.headerdescription {
  font-weight: 400; 
  line-height: 140%; 
  margin-bottom: 2em;
  margin-top: 2em;
}

.parent-masthead {
  height: 15rem;
}

.masthead{
  padding-bottom: 25rem;
}

header h4 {
  margin-bottom:-0.5em;
}

h5 {
  margin: 0;
}

h5{
  margin:0;
}

.bg-primary {
  background-color: #114c5f!important;
}

.service-icon {
  color: #114c5f;
}

.portfolio-item .caption {
  background-color: rgba(19,22,24,.6);
}

.portfolio-item .caption .caption-content p {
  font-size: 1.3rem;
  font-weight: 400;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1.1rem;
}

.portfolio-item .caption .caption-content {
  margin-bottom: 3rem;
}

/* Portfolio Pages */

section.portfolio-page img { /* Limits styling to only sections given the class "portfolio page" */
  display: block; /* Forces a line break between each image */
  padding: 10px; /* White space around the image */
  margin: 0;
}

section.portfolio-page img:first-child { /* Limits styling to only sections given the class "portfolio page" */
  margin-top: 2.4rem;
}

@media (min-width: 600px) { /* Limits styling to tablets and desktops only */
  .sticky-div {
    position: sticky!important; /* Makes portfolio text stay fixed while images scroll */
    top: 0;
  }
  section.color-bar h1 {
    
  }
}

@media { /* Limits styling to large screens */
  .sticky-div {
    position: sticky!important; /*Makes portfolio text stay fixed while images scroll */
    text-align: left;
    top: 0;
  }

  @media (min-width: 900px) { /* Limits styling to large screens */
    section.portfolio-page > p:first-child {
      margin-top: 
    }
    #rightmargin {
      margin-right: 10px; /*for marketing-research button in header*/
    }
    .parent-masthead {
      height: 20rem;
    }
    .masthead{
      padding-bottom: 28rem;
    }
    }

/* Header */

.col-sm-6 {
  margin:0;
  padding:0;
}

.color-bar {
  height: 9em;
  margin-bottom: 1em; 
  padding-left: 0;
  padding-top: 3rem;
  z-index: 5;
  width: 95%;
}

section.portfolio-page h1 {
  padding-bottom: 1em;
  padding-top: 1.5em; 
  padding-left: 1.6em;
  padding-right: 0;
  text-align: left;
  background-color: turquoise;
}

/* Sticky*/

.stickytitle
.stickytext
.stickyfooter{
  position: sticky;
}

.stickytitle{
  top: 0;
  background-color: white; /*makes text disappear after scrolling under title*/
}

.stickytext{
  top: 230px;
}

.stickyfooter{
  top: 0;
  margin-top: 5em;
}

/* Body text*/

section.portfolio-page p {
  padding-left: 4em;
  width: 85%;
  text-justify: left;
}

section.portfolio-page .sticky-div > p:first-child{
  padding-bottom: 0.8em;
  padding-left: 2.7em;
  font-size: 1.5em; 
  margin: 0;
  width: 90%;
}

.bold{
  font-weight: 700;
}

@media (min-width: 992px) {
  .masthead {
    height: 10vh;
}

/*Footer*/

.color-bar-footer{
  background-color: turquoise;
  margin-top: 4em;
  margin-left: 0em;
  margin-right:0;
  padding-right: 0px;
  padding-top: 2em;
  padding-bottom: 0.8em;
}

footer .no-gutters{
  margin-left: 2.7em;
}

footer .col-lg-2{
  margin-left: 1em;
  height: 10rem;
}
/* Added this at the end: makes portfolio items as tall as buttons, but photos no longer fit well
footer .col-lg-2 .portfolio-item{
  height: 8.7rem;
}*/

footer .portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
  margin-bottom: 1.5rem;
}

footer .portfolio-item .caption .caption-content h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
}

footer .btn{
  display: block;
  margin-right: 1em;
  margin-left: auto;
  text-transform: uppercase;
  padding: 1rem 1rem;
}

footer .offset-lg-4{
  margin-left: auto;
  margin-right: 3em;
}

footer p {
  color: white!important; /*change after color scheme determined*/
  margin-bottom: 0;
}